@page
@{
    ViewBag.Title = "Sense/Net Auth - Home";
}

<div class="authentication-box">
    <div class="authentication-box-sensenet">
        <figure class="logo-wrapper">
            <a href="https://sensenet.com" target="_blank">
                <img class="logo" src="/images/sensenet-logo.svg" alt="sensenet logo">
            </a>
        </figure>
    </div>
    <div class="authentication-box-content">
        <p class="card-title font-semibold">Sense/Net Authentication</p>
        <p>Welcome to our authentication server. For documentation, examples, 
            other Sense/Net solutions please visit our <a href="https://github.com/SenseNet/" class="navigation-link" target="_blank">github repository.</a>
        </p>
    </div>
</div>